:root{
  --fw-1: 300;
  --fw-2: 700;
  --fw-3: 900;

  --fs-1: 1.125;
  --fs-2: 1.25rem;
  --fs-3: 2rem;
  --fs-small: .75rem;

  --clr-1: #fff;
  --clr-2: #255996;
  --clr-3: #1b3049;
  --clr-4: #171f29;
  --clr-5: #1fd030;

  -clr-dark: rgba(0,0,0,.25);
  --clr-body: rgba(255,255,255,.8);
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}